[submodule "external/ftxui"]
	path = external/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "external/llama.cpp"]
	path = external/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
